HOST=127.0.0.1
PORT=3000
DATABASE_PATH=./data/parking.db
SIMULATOR_BASE_URL=http://127.0.0.1:9898
SIMULATOR_NAME=
SIMULATOR_PASSWORD=
ALLOW_UNSIGNED_SIMULATOR_WEBHOOKS=
ADMIN_USERNAME=
ADMIN_INITIAL_PASSWORD=
